body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
}

.blue {
  background: grey;
}

nav li a {
  color: white !important;
}

.container-fluid {
  padding: 0;
}

.panel-body {
  margin-top: 25px;
  margin-bottom: 25px;
}

#document {
  float: right;
}

#mylist {
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#mylist2 {
  padding-top: 3px;
  padding-bottom: 5px;
}

#chooseFile {
  margin-top: 25px;
}

#uploadButton {
  margin-top: 3px;
}

#saveButton {
  margin-right: 5px;
  margin-bottom: 20px;
}