<configuration scan="true">
	<contextName>GENTOO</contextName>
	<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender"> <file>Gentoo.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> <pattern>%date
		%d{HH:mm:ss} %level [%file:%line] - %msg%n %contextName</pattern> </encoder>
		</appender> -->
		
		<property name="HOME_LOG" value="/tmp/logs" />
		<property name="CONTEXT_NAME" value="Gentoo.log"/>
		
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}/${CONTEXT_NAME}</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date <!-- %d{HH:mm:ss} -->
				%level [%file:%line] - %msg%n %contextName</Pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/tmp/logs/archived/Gentoo.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<!-- <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern> -->
			<Pattern>%date <!-- %d{HH:mm:ss} --> %level [%file:%line] - %msg%n %contextName</Pattern>
		</encoder>
	</appender>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss} %contextName %level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<root level="OFF">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="it.akademija.doctype.DoctypeService" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="it.akademija.doctype.DoctypeController" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="it.akademija.document.MainDoctypeService" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="it.akademija.group.GroupController" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="it.akademija.user.UserController" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="it.akademija.user.UserService" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="it.akademija.SecurityConfig" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
		<logger name="it.akademija.LogTest" level="DEBUG"
		additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	
	
	
	
</configuration>